In [15]:
# import statements

import pandas as pd
import numpy as np

In [16]:
# reading data

df1 = pd.read_csv("data/data_study1.csv")

In [17]:
df1.head()

,Unnamed: 0,UID,Country,Sex,Age,Edu_high,Edu_low,Pol_Ori,ZmeanPO,ZPO,...,mean_lrgen,mean_lrecon,mean_galtan,zmean_lrgen,zmean_lrecon,zmean_galtan,lrgengov,lrecongov,galtangov,CPO
0,iceland.1,Iceland::1,Iceland,male,33.0,1.0,0.0,4.2,1.064809,-0.453397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.827639
1,iceland.2,Iceland::2,Iceland,male,28.0,1.0,0.0,4.2,1.064809,-0.453397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.827639
2,iceland.3,Iceland::3,Iceland,female,35.0,0.0,1.0,NaN,1.064809,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,iceland.4,Iceland::4,Iceland,male,55.0,1.0,0.0,5.0,1.064809,-0.015141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.027639
4,iceland.5,Iceland::5,Iceland,male,52.0,0.0,1.0,5.8,1.064809,0.423114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.772361

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40954 entries, 0 to 40953
Data columns (total 38 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    40954 non-null  object
 1   UID           40954 non-null  object
 2   Country       40954 non-null  object
 3   Sex           37629 non-null  object
 4   Age           37555 non-null  float64
 5   Edu_high      31414 non-null  float64
 6   Edu_low       31414 non-null  float64
 7   Pol_Ori       38145 non-null  float64
 8   ZmeanPO       40954 non-null  float64
 9   ZPO           38145 non-null  float64
 10  CMQ_1         33670 non-null  float64
 11  CMQ_2         33641 non-null  float64
 12  CMQ_3         33592 non-null  float64
 13  CMQ_4         33447 non-null  float64
 14  CMQ_5         33505 non-null  float64
 15  CM4x          33195 non-null  float64
 16  CM5x          33152 non-null  float64
 17  CT_left       29555 non-null  float64
 18  CT_right      29639 non-null  float64
 19  CT_neutral    29141 non-null  float64
 20  Winner_state  29184 non-null  float64
 21  CHES_version  38385 non-null  object
 22  lrgen         27371 non-null  float64
 23  lrecon        27371 non-null  float64
 24  galtan        27371 non-null  float64
 25  zlrgen        27371 non-null  float64
 26  zlrecon       27371 non-null  float64
 27  zgaltan       27371 non-null  float64
 28  mean_lrgen    38385 non-null  float64
 29  mean_lrecon   38385 non-null  float64
 30  mean_galtan   38385 non-null  float64
 31  zmean_lrgen   38385 non-null  float64
 32  zmean_lrecon  38385 non-null  float64
 33  zmean_galtan  38385 non-null  float64
 34  lrgengov      38030 non-null  float64
 35  lrecongov     38030 non-null  float64
 36  galtangov     38030 non-null  float64
 37  CPO           38145 non-null  float64
dtypes: float64(33), object(5)
memory usage: 11.9+ MB

In [19]:
df1.shape

(40954, 38)

In [20]:
df2 = pd.read_csv("data/data_study2.csv")

In [21]:
df2.head()

,Unnamed: 0,Weights,Sex,Age,Country,Pol_Ori,CMQ_1,CMQ_2,CMQ_3,CMQ_4,...,lrecon,galtan,zlrgen,zlrecon,zgaltan,ZPO,ZmeanPO,CM4x,CM5x,CPO
0,1,1.532339,Male,18.916667,Sweden,5.0,8.0,8.0,4.0,6.0,...,3.470588,4.411765,-0.799850,-0.780204,-0.336897,-0.449278,1.062604,6.25,6.6,-1.304476
1,2,0.997387,Male,25.750000,Sweden,11.0,NaN,NaN,NaN,NaN,...,8.411765,5.888889,0.837842,1.306571,0.191618,1.617198,1.062604,NaN,NaN,4.695524
2,3,6.050884,Female,19.916667,Sweden,11.0,11.0,11.0,11.0,9.0,...,5.941176,8.944445,0.860276,0.263184,1.284895,1.617198,1.062604,10.50,10.6,4.695524
3,4,1.838405,Male,62.750000,Sweden,8.0,NaN,NaN,NaN,NaN,...,8.411765,5.888889,0.837842,1.306571,0.191618,0.583960,1.062604,NaN,NaN,1.695524
4,5,0.997387,Male,30.916667,Sweden,5.0,11.0,7.0,9.0,6.0,...,3.470588,4.411765,-0.799850,-0.780204,-0.336897,-0.449278,1.062604,8.25,8.8,-1.304476

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89576 entries, 0 to 89575
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    89576 non-null  int64
 1   Weights       66596 non-null  float64
 2   Sex           71913 non-null  object
 3   Age           72988 non-null  float64
 4   Country       89576 non-null  object
 5   Pol_Ori       73636 non-null  float64
 6   CMQ_1         53437 non-null  float64
 7   CMQ_2         52895 non-null  float64
 8   CMQ_3         52890 non-null  float64
 9   CMQ_4         52718 non-null  float64
 10  CMQ_5         52716 non-null  float64
 11  Edu_low       89507 non-null  float64
 12  Edu_high      89507 non-null  float64
 13  Winner_state  65087 non-null  float64
 14  CHES_version  89576 non-null  object
 15  lrgen         55414 non-null  float64
 16  lrecon        55414 non-null  float64
 17  galtan        55414 non-null  float64
 18  zlrgen        55414 non-null  float64
 19  zlrecon       55414 non-null  float64
 20  zgaltan       55414 non-null  float64
 21  ZPO           73636 non-null  float64
 22  ZmeanPO       89576 non-null  float64
 23  CM4x          51759 non-null  float64
 24  CM5x          51691 non-null  float64
 25  CPO           73636 non-null  float64
dtypes: float64(22), int64(1), object(3)
memory usage: 17.8+ MB

In [23]:
df2.shape

(89576, 26)

In [24]:
df2.columns

Index(['Unnamed: 0', 'Weights', 'Sex', 'Age', 'Country', 'Pol_Ori', 'CMQ_1',
       'CMQ_2', 'CMQ_3', 'CMQ_4', 'CMQ_5', 'Edu_low', 'Edu_high',
       'Winner_state', 'CHES_version', 'lrgen', 'lrecon', 'galtan', 'zlrgen',
       'zlrecon', 'zgaltan', 'ZPO', 'ZmeanPO', 'CM4x', 'CM5x', 'CPO'],
      dtype='object')

In [25]:
# Dropping old index

df2.drop(columns='Unnamed: 0', axis=1, inplace=True)

df2.head()

,Weights,Sex,Age,Country,Pol_Ori,CMQ_1,CMQ_2,CMQ_3,CMQ_4,CMQ_5,...,lrecon,galtan,zlrgen,zlrecon,zgaltan,ZPO,ZmeanPO,CM4x,CM5x,CPO
0,1.532339,Male,18.916667,Sweden,5.0,8.0,8.0,4.0,6.0,7.0,...,3.470588,4.411765,-0.799850,-0.780204,-0.336897,-0.449278,1.062604,6.25,6.6,-1.304476
1,0.997387,Male,25.750000,Sweden,11.0,NaN,NaN,NaN,NaN,NaN,...,8.411765,5.888889,0.837842,1.306571,0.191618,1.617198,1.062604,NaN,NaN,4.695524
2,6.050884,Female,19.916667,Sweden,11.0,11.0,11.0,11.0,9.0,11.0,...,5.941176,8.944445,0.860276,0.263184,1.284895,1.617198,1.062604,10.50,10.6,4.695524
3,1.838405,Male,62.750000,Sweden,8.0,NaN,NaN,NaN,NaN,NaN,...,8.411765,5.888889,0.837842,1.306571,0.191618,0.583960,1.062604,NaN,NaN,1.695524
4,0.997387,Male,30.916667,Sweden,5.0,11.0,7.0,9.0,6.0,11.0,...,3.470588,4.411765,-0.799850,-0.780204,-0.336897,-0.449278,1.062604,8.25,8.8,-1.304476

In [42]:
df2['CMQ_1'].unique()

array([ 8., nan, 11., 10.,  4.,  7.,  6.,  9.,  5.,  3.,  2.,  1.])

In [27]:
# Looking at the rows where the CMQ responses are missing

df2['cmq_missing'] = np.where((df2['CM4x'].isna() | df2['CM5x'].isna()),1,0)

In [28]:
# How much CMQ data is missing overall?

print(f"{round(df2['cmq_missing'].mean()*100, 2)}% of the rows are missing CMQ data.")

42.29% of the rows are missing CMQ data.

In [29]:
# Breakdown of missing values by country

df2['Country'][df2['cmq_missing'] == 1].value_counts()

France              5142
Spain               4322
Italy               3470
Netherlands         3458
Poland              3381
Austria             2867
Germany             2623
Romania             2400
Sweden              1948
Hungary             1835
Portugal            1669
Belgium-Wallonia    1648
Denmark             1408
Belgium-Flanders    1383
UK                   331
Name: Country, dtype: int64

In [30]:
# How are the countries represented in the data?

df2['Country'].value_counts()

France              11774
Netherlands         11327
Spain                9385
Italy                7698
Poland               6785
Romania              6328
Germany              5692
Austria              5141
Sweden               4872
Hungary              4705
Portugal             4666
Belgium-Flanders     3611
Belgium-Wallonia     3444
Denmark              3060
UK                   1088
Name: Country, dtype: int64

In [31]:
# Percentage of CMQ data missing by country

df2.groupby('Country')['cmq_missing'].mean()*100

Country
Austria             55.767360
Belgium-Flanders    38.299640
Belgium-Wallonia    47.851336
Denmark             46.013072
France              43.672499
Germany             46.082221
Hungary             39.001063
Italy               45.076643
Netherlands         30.528825
Poland              49.830508
Portugal            35.769396
Romania             37.926675
Spain               46.052211
Sweden              39.983580
UK                  30.422794
Name: cmq_missing, dtype: float64

In [32]:
# Percentage of CMQ data missing by country and by sex

df2.groupby(['Country','Sex'], dropna=False)['cmq_missing'].mean()*100

Country           Sex
Austria           Female    48.960739
                  Male      40.689013
                  NaN       90.800952
Belgium-Flanders  Female     6.790945
                  Male       3.049203
                  NaN       90.896260
Belgium-Wallonia  Female     4.102564
                  Male       2.015776
                  NaN       93.189756
Denmark           Female     6.797583
                  Male       2.203065
                  NaN       98.966027
France            Female    40.878567
                  Male      37.350937
                  NaN       90.830450
Germany           Female    36.954023
                  Male      35.238095
                  NaN       87.824530
Hungary           Female    10.271041
                  Male       8.751459
                  NaN       96.979232
Italy             Female    38.701299
                  Male      34.320557
                  NaN       87.372263
Netherlands       Female    34.484965
                  Male      28.769387
                  NaN       34.925373
Poland            Female    33.900052
                  Male      22.209696
                  NaN       97.663765
Portugal          Female     3.448276
                  Male       2.136317
                  NaN       97.725876
Romania           Female    34.129536
                  Male      31.693526
                  NaN       87.296417
Spain             Female    44.325021
                  Male      40.801042
                  NaN       85.605234
Sweden            Female    30.406291
                  Male      25.979983
                  NaN       90.822785
UK                Female    25.418060
                  Male      28.688525
                  NaN       78.947368
Name: cmq_missing, dtype: float64

In [33]:
# Which answers are missing?

df2[['CMQ_1', 'CMQ_2', 'CMQ_3', 'CMQ_4', 'CMQ_5']].isna().sum()

CMQ_1    36139
CMQ_2    36681
CMQ_3    36686
CMQ_4    36858
CMQ_5    36860
dtype: int64

In [34]:
# Average CM5x by country

df2.groupby('Country')['CM5x'].mean().sort_values(ascending=False)

Country
Portugal            8.037971
Spain               7.961841
Romania             7.733859
Hungary             7.551568
Poland              7.409459
Belgium-Wallonia    7.385857
Belgium-Flanders    7.213375
France              6.931092
UK                  6.852048
Denmark             6.768523
Austria             6.671416
Italy               6.491627
Sweden              6.288577
Germany             6.247768
Netherlands         5.788766
Name: CM5x, dtype: float64

In [35]:
# CM5x Statistics

df2['CM5x'].describe()

count    51691.000000
mean         6.946614
std          2.106488
min          1.000000
25%          5.400000
50%          7.000000
75%          8.400000
max         11.000000
Name: CM5x, dtype: float64

In [36]:
# CM5x by sex

df2.groupby('Sex')['CM5x'].mean().sort_values(ascending=False)

Sex
Female    7.177107
Male      6.831201
Name: CM5x, dtype: float64

In [37]:
# Looking at percentage of null values for each column

percent_missing = df2.isnull().sum() * 100 / len(df2)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})

In [38]:
missing_value_df.T

,Weights,Sex,Age,Country,Pol_Ori,CMQ_1,CMQ_2,CMQ_3,CMQ_4,CMQ_5,...,galtan,zlrgen,zlrecon,zgaltan,ZPO,ZmeanPO,CM4x,CM5x,CPO,cmq_missing
percent_missing,25.654193,19.718451,18.518353,0.0,17.794945,40.344512,40.949585,40.955167,41.147182,41.149415,...,38.137448,38.137448,38.137448,38.137448,17.794945,0.0,42.217782,42.293695,17.794945,0.0